body{
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
}
.wrapper{
    position: relative;
    width: 1920px;
    height: 3603px;

    background: #222222;
}
/*Header*/
header {
    /*background-color: white;*/
    position: fixed;
    top: 0;
    z-index: 100;
    width: 100%;
}
.logo-wrapper{
    position: absolute;
    width: 127px;
    height: 127px;
    left: 0px;
    top: 0px;
    background: #000000;
}
.logo{
    visibility: hidden;
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
}
.logo-picture{
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.short-logo{
    visibility: visible;
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
}
.burger-circle{
    position: absolute;
    width: 46px;
    height: 46px;
    left: 1833px;
    top: 41px;
    border-radius: 50%;

    border: 1px solid #FFFFFF;
    box-sizing: border-box;
}
.burger{
    position: absolute;
    width: 13.05px;
    height: 8.7px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    color: #ADC62C;
}
.menu{
    position: absolute;
    width: 551px;
    height: 16px;
    left: 1209px;
    top: 55px;
    color: #FFFFFF;
    display: flex;
    justify-content: space-between;
    margin: 0;
    padding: 0;
    list-style-type: none;

}
/*Main Content*/

/*First Section*/
.first-picture{
    position: absolute;
    width: 1328px;
    height: 975px;
    left: -1070px;
    top: 0px;
    background: url('https://s3-alpha-sig.figma.com/img/ec1f/8ab0/e16e2b86eb52bca774dec352be277911?Expires=1595203200&Signature=CGOpXs56-lCbt6M4PW6S56rRcejZBe1n-RfQRDTPNnPyENhvaLhzedOw-3GjxVoxBbayyV0xPJoPuv7sQnN5ntOI~84P8hXtd93h7Bv4VHiE-7B1ZqdDT90vapyHUvjGltYss-Cw~8Xi0PkQXg82bbzenkJrfiHdBEd--gghAUEshT3TLv2Ils39BoXvQSx8owup9cjG7lRKnEnx80pnr87C4XPhpS0m5A8BnZAW~81h81GUg6el7dxaaCNwK73zjkX9y7dcpAS7JiO-NQb9C~KMic6doYCXfEq4gpogShjZBO-~KIctDYoGDbVhCF6EeIyWyy6A6gnw6JXjkFSAfg__&Key-Pair-Id=APKAINTVSUGEWH5XD5UA');


    opacity: 0.3;
    border: 1px solid #000000;
    box-sizing: border-box;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

}
.first-arrow{
    position: absolute;
    width: 132px;
    /*height: 0px;*/
    left: 1665px;
    top: 814px;

    /*border: 2px solid #ADC62C;*/
    box-sizing: border-box;

}
.second-arrow{

    position: absolute;
    width: 46px;
    /*height: 0px;*/
    left: 1647px;
    top: 814px;

    /*border: 2px solid #818181;*/
    box-sizing: border-box;
}
.data{
    position: absolute;
    width: auto;
    height: 66px;
    left: 144px;
    top: 787px;
    font-family: Abraham Lincoln;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center

}
.day{
    /*width: 33px;*/
    /*height: 66px;*/


    font-style: normal;
    font-weight: normal;
    font-size: 66px;
    line-height: 66px;
    margin-right: 22px;
    /* identical to box height */

    text-align: center;

    color: #ADC62C;
}
.month{
    font-style: normal;
    font-weight: normal;
    font-size: 38px;
    line-height: 38px;

    text-align: center;

    color: #818181;

}
.slesh{
    font-style: normal;
    font-weight: normal;
    font-size: 66px;
    line-height: 66px;

    text-align: center;
    padding-right: 15px;

    color: #818181;
}
.title{
    position: absolute;
    width: 818px;
    height: 109px;
    left: 567px;
    top: 433px;

    font-family: Abraham Lincoln;
    font-style: normal;
    font-weight: normal;
    font-size: 109px;
    line-height: 109px;
    /* identical to box height */

    text-align: center;

    color: #FFFFFF;
}
.sub-title{
    position: absolute;
    width: 558px;
    height: 78px;
    left: 697px;
    top: 551px;

    font-family: Roboto;
    font-style: italic;
    font-weight: 500;
    font-size: 14px;
    line-height: 26px;
    /* or 186% */

    text-align: center;

    color: #D3D3D3;
}